/* 重置 标签风格统一 */
@import "./normalize.css";

/* 对页面初始化设置 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 根元素 相当于创建css的变量 */
:root {
  --color-text: #4c4948;
  /* 高亮 */
  --color-high-text: rgb(128, 200, 248);
  /* 背景颜色 > 导航 */
  --color-tint: #4c4948;
  /* 背景色 */
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;

  /* 打字css特效 */
  --aniSpeed:4s;
  --strLength:15;
  --toWidth:19.2em;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Lato,Roboto,PingFang SC,Microsoft YaHei,sans-serif!important;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: var(--color-background);
  color: var(--color-text);
  width: 100vw;
}

a {
  color: var(--color-tint);
  text-decoration: none;
}
hr{
  margin: 40px auto;
  border: 2px dashed #d2ebfd;
  width: calc(100% - 4px);
}

/* 清除浮动 */
.clear-fix::after {
  clear: both;
  content: "";
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

@keyframes iconflow{
  0%{
      transform: translateY(0px);
  }
  50%{
      transform: translateY(-5px);
  }
  100%{
      transform: translateY(0px);
  }
}

/* 滚动条样式 */
/* ::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(45deg,hsla(0,0%,100%,.4) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.4) 0,hsla(0,0%,100%,.4) 75%,transparent 0,transparent);
  border-radius: 2em;
} */


/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 3600780 */
  src: url('//at.alicdn.com/t/c/font_3600780_ghj4he0zos.woff2?t=1662170219632') format('woff2'),
       url('//at.alicdn.com/t/c/font_3600780_ghj4he0zos.woff?t=1662170219632') format('woff'),
       url('//at.alicdn.com/t/c/font_3600780_ghj4he0zos.ttf?t=1662170219632') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
